body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: hsl(355, 20%, 50%);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #fae8e1;
}
.header {
  margin-top: 1.5em;
  text-align: center;
  font-size: 1em;
  text-shadow: 4px 4px 8px hsl(0, 2%, 29%);
}
.translator {
  padding: 0.5rem;
  width: 90%;
  box-shadow: 2px 2px 10px hsl(355, 20%, 75%);
  &__form {
    display: flex;
    flex-direction: column;
    margin: 0 0 2.5rem;
    font-size: 1em;
  }
  &__form > label {
    margin-top: 1.5rem;
  }
  &__form > textarea {
    margin-top: 0.75rem;
  }
  textArea {
    width: 100%;
    height: auto;
    font-size: 1rem;
    font-weight: 550;
  }
  &__button {
    margin: 1.5em auto 0;
    padding: 0.5em;
    width: 6em;
    border: none;
    box-shadow: 2px 2px 6px hsl(0, 2%, 29%);
    border-radius: 0.5em;
    background-color: #fae8e1;
    font-weight: 700;
    color: hsl(355, 20%, 50%);
  }
}
@media (min-width: 577px) {
  .container {
    width: 100vw;
    height: 100vh;
  }
  .header {
    font-size: 5rem;
    text-shadow: 4px 4px 8px hsl(0, 2%, 29%);
  }
  .translator {
    padding: 2.5em 2.5em 2.5em;
    width: 50vw;
    box-shadow: 4px 4px 18px hsl(0, 2%, 29%);
    &__form {
      font-size: 3.5rem;
    }
    &__form > label {
      margin-top: 2.5rem;
      padding: 1rem 0;
    }
    textArea {
      font-size: 3.5rem;
    }
    &__button {
      margin: 1.5em auto 0;
      padding: 0.5em;
      width: 6em;
      font-weight: 700;
      font-size: 1em;
    }
  }
}
